@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --12pt-medium-font-family: "Rubik-Medium", Helvetica;
  --12pt-medium-font-size: 12px;
  --12pt-medium-font-style: normal;
  --12pt-medium-font-weight: 500;
  --12pt-medium-letter-spacing: 0px;
  --12pt-medium-line-height: normal;
  --12pt-reguler-font-family: "Rubik-Regular", Helvetica;
  --12pt-reguler-font-size: 12px;
  --12pt-reguler-font-style: normal;
  --12pt-reguler-font-weight: 400;
  --12pt-reguler-letter-spacing: 0px;
  --12pt-reguler-line-height: normal;
  --14pt-medium-font-family: "Rubik-Medium", Helvetica;
  --14pt-medium-font-size: 14px;
  --14pt-medium-font-style: normal;
  --14pt-medium-font-weight: 500;
  --14pt-medium-letter-spacing: 0px;
  --14pt-medium-line-height: normal;
  --16pt-medium-font-family: "Rubik-Medium", Helvetica;
  --16pt-medium-font-size: 16px;
  --16pt-medium-font-style: normal;
  --16pt-medium-font-weight: 500;
  --16pt-medium-letter-spacing: 0px;
  --16pt-medium-line-height: normal;
  --16pt-reg-font-family: "Rubik-Regular", Helvetica;
  --16pt-reg-font-size: 16px;
  --16pt-reg-font-style: normal;
  --16pt-reg-font-weight: 400;
  --16pt-reg-letter-spacing: 0px;
  --16pt-reg-line-height: normal;
  --22pt-medium-font-family: "Rubik-Medium", Helvetica;
  --22pt-medium-font-size: 22px;
  --22pt-medium-font-style: normal;
  --22pt-medium-font-weight: 500;
  --22pt-medium-letter-spacing: 0px;
  --22pt-medium-line-height: normal;
  --22pt-reg-font-family: "Rubik-Regular", Helvetica;
  --22pt-reg-font-size: 22px;
  --22pt-reg-font-style: normal;
  --22pt-reg-font-weight: 400;
  --22pt-reg-letter-spacing: 0px;
  --22pt-reg-line-height: normal;
  --24pt-medium-font-family: "Rubik-Medium", Helvetica;
  --24pt-medium-font-size: 24px;
  --24pt-medium-font-style: normal;
  --24pt-medium-font-weight: 500;
  --24pt-medium-letter-spacing: 0px;
  --24pt-medium-line-height: normal;
  --black: rgba(35, 34, 51, 1);
  --black-1: rgba(8, 8, 9, 1);
  --blue: rgba(26, 114, 221, 1);
  --btn-text-font-family: "Montserrat-Bold", Helvetica;
  --btn-text-font-size: 14px;
  --btn-text-font-style: normal;
  --btn-text-font-weight: 700;
  --btn-text-letter-spacing: 0.20000000298023224px;
  --btn-text-line-height: 22px;
  --effect-1: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
  --gray-paragraph: rgba(108, 108, 114, 1);
  --grey: rgba(209, 209, 209, 1);
  --grey-dark: rgba(189, 189, 189, 1);
  --h-2-font-family: "Montserrat-Bold", Helvetica;
  --h-2-font-size: 40px;
  --h-2-font-style: normal;
  --h-2-font-weight: 700;
  --h-2-letter-spacing: 0.20000000298023224px;
  --h-2-line-height: 50px;
  --h-5-font-family: "Montserrat-Bold", Helvetica;
  --h-5-font-size: 16px;
  --h-5-font-style: normal;
  --h-5-font-weight: 700;
  --h-5-letter-spacing: 0.10000000149011612px;
  --h-5-line-height: 24px;
  --h-6-font-family: "Montserrat-SemiBold", Helvetica;
  --h-6-font-size: 14px;
  --h-6-font-style: normal;
  --h-6-font-weight: 600;
  --h-6-letter-spacing: 0.20000000298023224px;
  --h-6-line-height: 24px;
  --h6-20px-font-family: "JosefinSans-SemiBold", Helvetica;
  --h6-20px-font-size: 20px;
  --h6-20px-font-style: normal;
  --h6-20px-font-weight: 600;
  --h6-20px-letter-spacing: 0px;
  --h6-20px-line-height: 30px;
  --h7-16px-paragraph-text-font-family: "JosefinSans-Regular", Helvetica;
  --h7-16px-paragraph-text-font-size: 16px;
  --h7-16px-paragraph-text-font-style: normal;
  --h7-16px-paragraph-text-font-weight: 400;
  --h7-16px-paragraph-text-letter-spacing: 0px;
  --h7-16px-paragraph-text-line-height: 24px;
  --josefin-16-font-family: "JosefinSans-Regular", Helvetica;
  --josefin-16-font-size: 16px;
  --josefin-16-font-style: normal;
  --josefin-16-font-weight: 400;
  --josefin-16-letter-spacing: 0px;
  --josefin-16-line-height: 24px;
  --light-background: rgba(255, 255, 255, 1);
  --light-background-color: rgba(255, 255, 255, 1);
  --light-gray-1: rgba(250, 250, 250, 1);
  --light-text-color: rgba(255, 255, 255, 1);
  --link-font-family: "Montserrat-SemiBold", Helvetica;
  --link-font-size: 14px;
  --link-font-style: normal;
  --link-font-weight: 600;
  --link-letter-spacing: 0.20000000298023224px;
  --link-line-height: 24px;
  --main-blue: rgba(0, 10, 71, 1);
  --main-green: rgba(48, 157, 158, 1);
  --main-red: rgba(175, 0, 0, 1);
  --navy: rgba(42, 50, 86, 1);
  --paragraph-font-family: "Montserrat-Medium", Helvetica;
  --paragraph-font-size: 14px;
  --paragraph-font-style: normal;
  --paragraph-font-weight: 500;
  --paragraph-letter-spacing: 0.20000000298023224px;
  --paragraph-line-height: 20px;
  --red: rgba(244, 38, 26, 1);
  --rose-code: rgba(221, 26, 178, 1);
  --second-text-color: rgba(115, 115, 115, 1);
  --shadow-style-1: 0px 6px 20px 0px rgba(0, 0, 0, 0.06);
  --shadow-style-2: 0px 25px 40px 0px rgba(0, 0, 0, 0.03);
  --shadow-style-3: 0px 16px 32px 0px rgba(0, 0, 0, 0.08);
  --shadow-style-4-UP: 0px -3px 40px 0px rgba(0, 0, 0, 0.03);
  --text-clr: rgba(94, 98, 130, 1);
  --text-color: rgba(37, 43, 66, 1);
  --violet: rgba(66, 80, 168, 1);
  --white: rgba(255, 255, 255, 1);
  --x-1st: rgba(24, 30, 75, 1);
}
